<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Network</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/network.css}">
</head>
<body class="bg-body-secondary">
<div class="body-container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="fluid-container content">
        <div class="container" id="main-container">
            <div class="filter-container container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                            <input type="text" class="form-control" id="searchInput" placeholder="Search by name or email">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container results-container">
                <div class="row row-cols-1 row-cols-md-3 g-4" id="userResults">
                    <!-- Initial user data rendered by Thymeleaf -->
                    <th:block th:each="user : ${users}">
                        <div class="col">
                            <div class="card user-card h-100 shadow-sm">
                                <img th:src="${user.imageUrl ?: '/images/default-avatar.svg'}" class="card-img-top mt-3"
                                     alt="User Image" height="100px">
                                <div class="card-body text-center">
                                    <h5 class="card-title" th:text="${user.f_name + ' ' + user.l_name}"></h5>
                                    <a th:href="@{/networkprofile/{id}(id=${user.user_id})}"
                                       class="btn btn-primary btn-sm mt-2">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/network.js}"></script>
</body>
</html>